.nav{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;

	justify-content:space-between;
	grid-column:1/-1;

	padding:12px;

}

.nav__container{
	display:flex;
	gap:12px;
}

.nav a{
	text-decoration:none;
	color:white;
}
