.link__creation{
	display:flex;
	flex-direction:column;

	width:100%;
	max-width:400px;

	color:black;

	place-content:center;
	place-items:center;

	background:rgba(var(--extra));

	gap:18px;

	padding:12px;

	border:1px solid rgba(var(--secondary));

	transition:all 300ms;
}

.link__creation__info{
	font-weight:700;
	font-size:14px;
}

.link__creation__actions__button{
	color:initial;
	text-decoration:none;
	background:none;
	border:none;
	outline:none;

	display:flex;
	flex-direction:row;
	place-content:center;
	place-items:center;


	text-transform:uppercase;

	font-size:10px;
	font-weight:600;

	gap:6px;

	cursor:pointer;
}

.link__creation__actions{
	display:flex;
	flex-direction:row;

	width:100%;
	justify-content:space-between;

	gap:18px;
}
